<%= form_for(@laugh) do |f| %>
  <% if @laugh.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laugh.errors.count, "error") %> prohibited this laugh from being saved:</h2>

      <ul>
      <% @laugh.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :laugh %><br />
    <%= f.text_area :laugh %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
