<!DOCTYPE html>
<html>
<head>
  <title>LaughLaugh</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user == nil %>
<div class="login_btn">
  <%= image_tag "logo.jpg" %><br>
  <%= link_to 'Twitterログイン', "/auth/#{if Rails.env.production? then 'twitter' else  'developer' end}" %>
  <br/> 
  <%= link_to 'facebookログイン', "/auth/#{if Rails.env.production? then 'facebook' else  'developer' end}" %>
</div>
<% end %>
<% unless current_user == nil %>
<%= render 'common/header' %>
<br/><br/>
<div class="wrapper">
  <%= render 'common/menu' %> 
  <hr>
  <div class="content">
    <%= yield %>
  </div>
</div>
<% end %>

<div class="footer">
</div>
</body>
</html>
